<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <title>OpenMRS Add Ons</title>
         <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.min.css">
    <script type="text/javascript" id="globalnav-script" src="https://id.openmrs.org/globalnav/js/app-optimized.js"></script>
    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/react-router@3.0.2/umd/ReactRouter.min.js"></script>
    <script src="https://use.fontawesome.com/75c2bbc0c8.js"></script>
</head>
<body>
<div id="root"></div>

</body>
</html>
