<html>
<head>
    
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/react-router/umd/ReactRouter.min.js"></script>
    <script src="https://use.fontawesome.com/75c2bbc0c8.js"></script>
</head>
<body>
<div id="root"></div>
<footer>
      Powered by 
      <a href="http://github.com/openmrs/openmrs-contrib-addonindex">Add Ons</a>
    </footer>
</body>
</html>