.idea
*.iml
.DS_Store
target
config
src/main/ui/node_modules
src/main/resources/static/index.html
src/main/resources/static/app/bundle.js
src/main/resources/static/app/bundle.min.js
src/main/resources/static/app/styles.css
src/main/resources/static/app/styles.min.css
esdata/
